<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- SEO Meta Tags -->
  <meta name="description" content="Your description">
  <meta name="author" content="Your name">

  <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
  <meta property="og:site_name" content="" /> <!-- website name -->
  <meta property="og:site" content="" /> <!-- website link -->
  <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
  <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
  <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
  <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
  <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

  <!-- Webpage Title -->
  <title>緊急事件狀態紀錄</title>

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/aos.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/swiper.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}">
</head>

<body>

  <!-- Navigation -->
  <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
    <div class="container">

      <!-- Image Logo -->
      <!-- <a class="navbar-brand logo-image" href=""><img src="images/logo.svg" alt="alternative"></a> -->

      <!-- Text Logo - Use this if you don't have a graphic logo -->
      <a class="navbar-brand logo-text">穿戴式摔跌警報裝置</a>

      <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    </div> <!-- end of container -->
  </nav> <!-- end of navbar -->
  <!-- end of navigation -->


  <!-- Header -->
  <header class="ex-header">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <h1>緊急事件狀態紀錄</h1>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </header> <!-- end of ex-header -->
  <!-- end of header -->


  <div class="ex-basic-1 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <div class="text-box mb-5 p-4">
            <div style="margin-bottom: 1rem;">
              <h3>使用者資訊</h3>
              <p>
                姓　名：{{ var['user']['name'] }}<br>
                性　別：{{ var['user']['sex'] }}<br>
                生　日：{{ var['user']['birthday'] }}<br>
              </p>
            </div>

            <div style="margin-top: 1rem;">
              <h3>事件基本資料</h3>
              <p>
                時　間：{{ var['event']['time'] }}<br>
                地　點：{{ var['event']['gps'] }} {% if var['event']['address']|length != 0 %}（概略地址 → {{ var['event']['address'] }}）{% endif %}<br>
              </p>
            </div>

          </div> <!-- end of text-box -->
        </div>
      </div>
    </div>
  </div>


  <!-- Basic -->
  <div class="ex-basic-1 pt-3 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <h2 class="mb-4">相關單位紀錄</h2>
          <div class="card">
            <div class="card-body">

              {% for item in var['record'] %}
              <div id="single-message" style="margin-bottom: 1rem;">
                <img id="text-icon" src="{{ url_for('static', filename='icon/perm_identity_black_48dp.svg') }}"
                  style="height: 1.6rem; float: left; margin-right: 0.5rem;">
                <span>{{ item['time'] }} {{ item['type'] }} 【{{item['agency']}}】留言</span>

                <div class="card">
                  <div class="card-body">
                    {{ item['content'] }}
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of ex-basic-1 -->
  <!-- end of basic -->

  {% if var['editable'] %}
  <!-- Basic -->
  <div class="ex-basic-1 pt-3 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <h2 class="mb-4">提交最新狀態</h2>

          <form method="POST" action="{{ url_for('event', token=var['token'], editable=var['editable']|lower) }}" enctype="application/x-www-form-urlencoded">
            <div class="input-group mb-3">
              <label class="input-group-text" for="agencyTypeSelect">機構類別</label>
              <select class="form-select" id="agencyTypeSelect" name="agency-type" required>
                <option value="" selected disabled>請選擇您的機構類別...</option>
                <option value="ambulance">救護單位</option>
                <option value="hospital">醫療院所</option>
              </select>
              <input type="text" class="form-control" placeholder="機構名稱" aria-label="機構名稱" aria-describedby="basic-addon1" name="agency-name" required>
            </div>
            
            <!-- Editor -->
            <div class="form-floating" style="margin-bottom: 1rem;">
              <!-- placeholder="Leave a comment here" -->
              <textarea rows="8" style="height:100%;" class="form-control" placeholder="Leave a comment here" name="content" required></textarea>
              <label>歡迎上傳本事件相關的紀錄資訊，竭誠感謝您對傷患的協助！</label>
            </div>
            <!-- end of Editor -->

            <button type="submit" class="btn btn-tertiary">Submit</a>
          </form>

        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of ex-basic-1 -->
  <!-- end of basic -->
  {% endif %}


  <!-- Back To Top Button -->
  <button onclick="topFunction()" id="myBtn">
    <img src="{{ url_for('static', filename='assets/images/up-arrow.png') }}" alt="alternative">
  </button>
  <!-- end of back to top button -->


  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script><!-- Bootstrap framework -->
  <script src="{{ url_for('static', filename='js/purecounter.min.js') }}"></script>
  <!-- Purecounter counter for statistics numbers -->
  <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script><!-- Swiper for image and text sliders -->
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script><!-- AOS on Animation Scroll -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script> <!-- Custom scripts -->
</body>

</html>
